<mat-toolbar class="navbar">
  <div class="nav-head">
    <img src="../../assets/qatar.flag.png" alt="">
    <span>World cup Qatar 2022</span>
  </div>
  <div class="nav-items">
    <a routerLink="/signIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Sign in</a>
    <a routerLink="/register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Register</a>
    <a routerLink="/standings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Standings</a>
    <a routerLink="/matches" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Matches</a>
  </div>
</mat-toolbar>
