:host {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.card {
  background-color: rgb(223, 223, 223);
}

mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 10px;
  color: red;
  margin-bottom: 1rem;
  border: solid 0.1rem;
  border-color: red;
  font-size: 14px;
  text-align: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

mat-spinner {
  margin: auto;
  margin-top: 1rem;
}

@media (max-width: 400px) {
  :host {
    margin-top: 15rem;
  }

  mat-card {
    width: 70%;
  }

  mat-form-field {
    width: 100%;
    min-width: 250px;
  }

}
