<div class="head">
  <div class="headline">
    <h1>Matches</h1>
  </div>
  <div class="select">
    <span class="selected-round">By round: </span>
    <mat-form-field appearance="fill">
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let round of rounds" [value]="round.value" (click)="getMatchesByRound(round.value)">
          {{round.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="round">
  <div class="group" [ngClass]="matchStarted(group)" *ngFor="let group of events" (click)="openDialog(group)">
    <div class="group-info">
      <img src="../../assets/logo.png" alt="" />
      <span class="group-title">{{ group.tournament.name }}</span>
    </div>
    <div class="match">
      <div class="timestamp">
        <span class="day" *ngIf="!showMatchResult(group)">{{ getDate(group.startTimestamp) }}</span>
        <span *ngIf="!showMatchResult(group)"> | </span>
        <span class="time" *ngIf="!showMatchResult(group)">{{ getTime(group.startTimestamp) }}</span>
        <span class="finished" *ngIf="showMatchResult(group)">{{ group.status.description }}</span>
      </div>
      <div class="match-info">
        <div class="team">
          <img [src]="getImage(group.homeTeam.nameCode)" alt="" />
          <span class="team-name">{{ group.homeTeam.name }}</span>
          <span class="home-score" *ngIf="showMatchResult(group)">{{ group.homeScore.current }}</span>
        </div>
        <span class="vs">vs</span>
        <div class="team">
          <span class="away-score" *ngIf="showMatchResult(group)">{{ group.awayScore.current }}</span>
          <span class="away-team-name">{{ group.awayTeam.name }}</span>
          <img [src]="getImage(group.awayTeam.nameCode)" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
