/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  background-color: #F5F5F5;

  mat-card {
    height: 100%;
    width: 30rem;
    border: solid 0.1rem;
    border-color: #622842;
    background: #F5F5F5 !important;

    .mat-card-content {

      form {
        width: 95%;
        font-size: 18px;
      }

      .button {
        color: #622842;

        button {
          font-size: 22px;
        }

        button:hover {
          background-color: #e0e0e0;
        }
      }
    }

    .mat-card-title {
      font-size: 28px;
      color: #622842;
    }
  }


  .mat-select-min-line {
    color: #622842;
  }

  .mat-select-arrow-wrapper {
    color: #622842;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #f5f5f5;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: #622842;
  }

  .mat-form-field-ripple {
    background-color: #622842;
  }

  .mat-sort-header-container {
    justify-content: flex-end;
  }
}
